<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xelpine.xel_android_kotlin_commonlibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name=".CommonUtils.CommonApplication.XELGlobalApplication"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XEL_Android_CommonLibrary">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CommonUtils.XELPermissionHelper.XELPermissionActivity" android:theme="@style/Theme.XEL_Activity_Transparent">
        </activity>

        <activity android:name=".Activity_MainMenu">
        </activity>

        <activity android:name=".Z_CustomCode.Activity_Volley">
        </activity>

        <activity android:name=".Z_CustomCode.Activity_Glide">
        </activity>

        <activity android:name=".Activity_NFCWrite">
        </activity>

        <activity android:name=".Activity_NFCRead">
        </activity>

        <activity android:name=".Activity_FileWrite">
        </activity>

        <activity android:name=".Activity_FileRead">
        </activity>

        <activity android:name=".Activity_ImageFileRead">
        </activity>
    </application>

</manifest>